<h2 class="title">Portfolio</h2>
<div id="portfolio" class="fixed">

	<div ng-repeat="item in projects" class="portfolio-item col-3 float-left padded-right">
		<a href="_content/640x550-placeholder.jpg" class="bordered" rel="prettyPhoto[portfolio]">
			<img ng-src="{{item.image}}" width="216" height="141" alt="" />					
		</a>
		<br />
		<h2>{{item.title}}</h2>
		<p>{{item.description}}</p>
		<p><a ng-href="#/project/{{item.id}}" class="read-more">Read More</a></p>
	</div><!-- end .portfolio-item -->
	<div class="portfolio-pagination col-1 clear">
		<ul>
			<li><a href="#">&laquo; Prev</a></li>
			<li><a href="#" class="active">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#">Next &raquo;</a></li>
		</ul>
	</div><!-- end portfolio-pagination -->		
</div><!-- end #portfolio -->