

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
	body {

	    padding: 5px;
	    font: .9em Arial, Helvetica, sans-serif;
	}

	#wrap {
	    width: 99%;
	    /*min-width: 370px;*/
	    margin: 0;
	}

	#header {
	    padding: 5px 20px 0px 20px;
	}

	#block-top {
	    margin-bottom: -15px;
	}

	ul#nav {
	    list-style: none;
	    float: none;
	}

	#content {
	    padding: 30px 20px 30px 20px;
	}

	#footer {
	    padding: 0px 20px 30px 20px;
	}

	#copyright {
	    float: none;
	}

	.cv-section-items {
	    padding-left: 0px;
	}

	.col-1 {
	    width: 100%;
	}

	#cv-2 h2.cv-section-name {
	    border-top: none;
	    width: 100%;
	    float: none;
	}

	#cv-2 ul.cv-section-items {
	    width: 100%;
	    float: left;
	}

	#cv-2 #technical-skills ul.cv-section-items li span.topic {
	    width: 270px;
	}
	ul.cv-section-items li.cv-item {
		padding: 10px 5px;
		}

	ul.cv-section-items li.cv-item {
	    padding: 10px 10px;
	}

	.divider, .divider2 {
	    margin-left: -15px;
	    margin-right: -20px;
	}

	.divider {
	    clear: both;
	}

	.divider2 {
	    margin-bottom: 30px;
	}

	#block-top {
	    margin-bottom: -15px;
	    height: 15px;
	}

	#personal-info {
	    margin-top: 30px;
	}

	#what-you-do {
	    clear: both;
	    padding: 20px 0;
	    font: 1.2em;
	}

	ul#nav li a,ul#nav {
		padding-bottom: 15px;
	    font-size: 16px;
	}

}