<style>
#HTC_ONE_portrait {
background-image: url("portfolio-images/iphone2.png");
width: 470px;
height: 940px;
}

#frame_HTC_ONE_portrait {
width: 369px;
height: 630px;
margin: 169px 0 0 -5px;
}

#phone_area {
margin: 0 auto;
text-align: center;
display: none;
position: relative;
z-index: 1;
}
#portfolio h3 {
font-size: 17px;
}
#portfolio h2 {
font-size: 21px;
}
.col-3 p {
	clear:both;
}
.col-2 h3 {
	margin-top: 20px;
}
.description {
	margin-bottom: 40px;
}
.description h4{
	font-weight: bold;
}


</style>
			<h2 class="title">Portfolio</h2>	
			<div id="portfolio">
			
				<div class="portfolio-item col-1 fixed">
				
						<div class="slider-wrap-2">
							<div class="slider-2" id="slide2">
								<ul>				
									<li ng-repeat="photo in project.gallery" on-finish-render>
										<img ng-src="{{photo.src}}" width="678" height="350" alt="" />
									</li>
								</ul>
							</div><!-- end .slider -->
						</div><!-- end .slider-wrap -->	
					
				</div>
				
				<div class="portfolio-item col-1 fixed">
					
					<div class="col-2 float-left padded-right">

						
						<h2 style="line-height: 120%;">{{project.title}}</h2>
						<div class="description" ng-bind-html="project.description"></div>

						<div ng-if=" project.projectUrl!='' " id="phone_area" style="display: block;">
							<div id="HTC_ONE_portrait">
								<iframe id="frame_HTC_ONE_portrait" ng-src="{{currentProjectUrl}}" style="background-color: rgb(255, 255, 255);"></iframe>
							</div>
						</div>

					</div>
					<div class="col-3 float-left" ng-bind-html="project.details"></div>

					
				</div><!-- end .portfolio-item -->
			
			</div><!-- end #portfolio -->
<script type="text/javascript">
      
		$(document).ready(function(){

			// easy slider
			// font replacement
			// if ( ! ( $.browser.msie & ($.browser.version == 6) ) )
			// { 	
			// 	$("h1#name").css({'font-size':'46px', 'padding-top':'20px' , 'margin-bottom':'0px' });
			// 	Cufon.replace('#portfolio h2, h2.cv-section-name, h1#name, h2.title'); // using cufon with IE6 breaks the layout in some cases
				
			// }	
		
		});
			
	</script> 