<h2 class="title">Portfolio</h2>
<div >
   <ul class="button-group">
      <li><button class="button" ng-click="setSelectedTitle('js')" ng-model="checkModel.js" btn-checkbox>JavaScritp</button></li>
      <li><button class="button" ng-click="setSelectedTitle('php')" ng-model="checkModel.php" btn-checkbox>PHP</button></li>
      <li><button class="button" ng-click="setSelectedTitle('angular')" ng-model="checkModel.angular" btn-checkbox>Angularjs</button></li>
      <li><button class="button" ng-click="setSelectedTitle('cplus')" ng-model="checkModel.cplus" btn-checkbox>C/C++</button></li>
      <li><button class="button" ng-click="setSelectedTitle('java')" ng-model="checkModel.java" btn-checkbox>Java</button></li>
      <li><button class="button" ng-click="setSelectedTitle('nodejs')" ng-model="checkModel.nodejs" btn-checkbox>Nodejs</button></li>
      <li><button class="button" ng-click="setSelectedTitle('api')" ng-model="checkModel.api" btn-checkbox>API</button></li>
      <li><button class="button" ng-click="setSelectedTitle('ror')" ng-model="checkModel.ror" btn-checkbox>ROR</button></li>
      <li><button class="button" ng-click="setSelectedTitle('mysql')" ng-model="checkModel.mysql" btn-checkbox>MySQL</button></li>
      <li><button class="button" ng-click="setSelectedTitle('android')" ng-model="checkModel.android" btn-checkbox>Android</button></li>
      <li><button class="button" ng-click="setSelectedTitle('ios')" ng-model="checkModel.ios" btn-checkbox>iOS</button></li>
      <li><button class="button" ng-click="setSelectedTitle('bash')" ng-model="checkModel.ios" btn-checkbox>Bash</button></li>
   </ul>
</div>
<br>

<style>

.masonry,
.masonry li { /* apply before masonry add class */
    position: absolute; /* important to add it before enter animation start */
    
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    
    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.grid {
    border: solid 1px #ccc padding: 10px 10px 0 0;
}
.grid li {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: solid 1px #ccc;
    margin: 0 0 10px 10px;
    background: #eee;
}


</style>


<ul id="portfolio" class="fixed" >
   <li ng-repeat="item in projects">
      <div ng-class="{hover:item.viewing}" id="flip-toggle2" class="flip-container" ontouchstart="this.classList.toggle('hover');">
         <div class="flipper">
            <div class="front">
               <!-- <div class="info" ng-click="toggleThis(item.id)"><i class="fa fa-info-circle"></i></div> -->
                   <div class="image-box">

                     <a  href="" ng-click="showImageDialog(item.id)" class="" rel="prettyPhoto[portfolio]">
                        <img onload="this.style.opacity='1';" ng-src="{{item.image_thumb}}" width="216" height="141" alt="" />
                        <a title="Video" href="" ng-click="showImageDialog(item.id)" rel="" class="zoom" style=""></a>
                        <a ng-href="#/project/{{item.id}}" title="Video" class="link" style=""></a>               
                     </a>
                     
                  </div>
                   <div class="detail">
                     <div class="title"><a ng-href="#/project/{{item.id}}"  >{{item.title}}</a></div>
                     <div class="body">
                     </div>
                     <div class="tags">
                       <a ng-repeat="t in item.tech" href="" title="Love it" class="btn" data-count="0"> {{t}}</a>
                     </div>
                   </div>
            </div>
            <div class="back">
               <div class="info" ng-click="closeDisplay(item.id)"><i class="fa fa-times-circle"></i></div>
               fsdf sd
            </div>
         </div>
      </div> 
   </li>
</ul>   

<!-- end .portfolio-item -->
   <div class="portfolio-pagination col-1 clear">
      <ul>
         <!-- <li><a href="#">&laquo; Prev</a></li> -->
         <li ng-repeat="page in pagination"><a href="#/page/{{page.page}}" ng-class="{'active':currentPage(page.page)}">{{page.page}}</a></li>
         <!-- <li><a href="#/page/1">Next &raquo;</a></li> -->
      </ul>
   </div>
   <!-- end portfolio-pagination -->   
<!-- end #portfolio -->